@media only screen and (min-width: 900px) {
  .fourthPart {
    background-color: #4460ef;
  }

  #fourthPartText {
    color: #fff;
    font-size: 1.85vw;
    margin: auto;
    padding-top: 4vw;
    width: 56vw;

    strong {
      font-weight: 900;
    }
  }

  .store {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 4vw;
    margin-top: 2vw;

    .andr {
      width: 12vw;
      margin-right: -10px;
    }

    .appl {
      width: 9vw;
    }
  }
}

@media only screen and (max-width: 900px) {
  .fourthPart {
    background-color: #4460ef;
  }

  #fourthPartText {
    color: #fff;
    font-size: 3vw;
    margin: auto;
    padding-top: 4vw;
    width: 87vw;
  }

  .store {
    display: flex;
    justify-content: center;
    padding-bottom: 4vw;
    align-items: center;
    padding-top: 12px;

    .andr {
      width: 14vw;
    }

    .appl {
      width: 14vw;
      height: 4vw;
    }
  }
}